* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgrey;
}

header {
    display: flex;
    background-color: lightskyblue;
}

#logo1{
    background-color: lightgreen;
    border: solid lightgreen 2px;
    align-content:flex-start;
    margin-left: 20px;
    padding: 5px;
    margin-top: 5px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 180px;
    margin-left: 250px;
}

li {
    padding: 10px;
    font-size: 18px;
    align-items: flex-end;
    text-decoration: underline;
}

a, a:hover, a:visited {
    color: black;
}

fieldset{
    background-color: rgb(157, 165, 173);
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: red;
    text-align: center;
    line-height: 30px;
    display:block;
    align-items: center;
}

#boton-enviar{
    color: white;
    background-color: rgb(56, 106, 243);
    padding: 2.5px 10px 2.5px 10px;
}

input, textarea{
    border-radius: 5px;
    border: 1px solid rgb(51, 204, 110);
}
